
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* the best style for footer */
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: left;
}

.page-footer a {
    font-size: 25px;
    
}
.small-text {
    font-size: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: navy;
    color: white;
    cursor: pointer;
}
.btn-update {
    background-color: #3498db; 
    color: white;
    border: 1px solid #2980b9; 
    margin-left: 10px;         /* Spacing between the two buttons */
}

.btn-update:hover {
    background-color: #2980b9; /* Darker Blue on hover */
    transform: scale(1.05);    /* Slightly enlarge button on hover */
}

.btn-delete {
    background-color: #e74c3c; /* Red */
    color: white;
    border: 1px solid #c0392b; /* Darker Red */
}

.btn-delete:hover {
    background-color: #c0392b; /* Darker Red on hover */
    transform: scale(1.05);    /* Slightly enlarge button on hover */
}






