
body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;

}
.wrapper {
    display: flex;
}

.sidebar {
    width: 25%;
    height: 100vh;
    background-color: #333;
    padding: 15px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-logo {
    color: white;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    background: blue;
}

.sidebar-nav li {
    padding: 8px 0;
}

.sidebar-nav a {
    text-decoration: none;
    color: white;
}

.content-container {
    width: 75%;
    padding: 15px;
}

.details-section {
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
}

